backup*
*copy
*.tsv
.*
!.gitignore
!.pre-commit-config.yaml

log
*.pkl

*.ipynb
!backprop.ipynb
!linear.ipynb
!ml191029ex.ipynb
!ml191112ex.ipynb
!ml191202ex.ipynb
!ml191210ex.ipynb
!perceptron_iris.ipynb
!grad_desc.ipynb
!ml191015ex.ipynb
!ml191107ex.ipynb
!ml191119ex.ipynb
!ml191203ex.ipynb
!perceptron.ipynb

*~
__pycache__/*
*.h5

*.data
!abalone.data
!iris.data

*.csv
!2017.csv
!AirQualityUCI.csv
!GlobalTemperatures.csv
!Iris.csv
!net_salary_per_town_categories.csv
!winequality-red.csv
!winequality-white.csv

*.txt
!requirements.txt

*.jpg
!picasso.jpg
!taro.jpg
!tree.jpg
!turner.jpg

*.png
!number.png
!number_3.png
